/* TAKE HEADER NAVBAR STYLES TO GLOBAL.CSS */
.navbar {
  width: 100%;
  height: 7vh;
  background: var(--color-background-secondary);
  /* border: 1px solid black; */
}
.navbar__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 4rem;
  /* see if we need to increase space from side */
}
.navbar__link {
  text-decoration: none;
  color: black;
}
.navbar__link--active {
  border-bottom: 2px solid var(--font-color-secondary);
}
.navbar__item {
  margin: 1rem 1rem;
  padding: 1rem 0;
  /* border: 1px solid black; */
}
.navbar__logo {
  color: var(--font-color-primary);
  flex-grow: 1;
  font-weight: bold;
}

/* FOOTER - TAKE TO GLOBAL */
.footer {
  background-color: var(--color-background-primary);
  width: 100%;
  /* height: 25vh; */
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__card {
  width: 15%;
  height: 100%;
  margin: 0 2rem;
  padding: 0 1rem;
  /* border: 1px solid black; */
}
.footer__card--large {
  width: 38%;
}

.footer__text-container {
  display: flex;
  justify-content: flex-start;
}
.footer__text-layer {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.footer__title,
.footer__text--plain {
  color: var(--font-color-primary);
}
/* .footer__title {
  }
  /* RESTRUCTRE footer__text IF NOT NEEDED FURTHER */
/* .footer__text {
  }  */

.footer__text--subtitle {
  color: var(--font-color-secondary);
  font-size: 1rem;
  /* border: 1px solid black; */
}

/* .footer__text--plain {
  border: 1px solid black;
} */

.footer__link-container {
  display: flex;
  justify-content: space-between;
  /* align-items: ; */
}
.footer__link-container--icons {
  position: relative;
  top: 37px;
  /* border-bottom: 1px solid black; */
}
/* .footer__link {
} */

.footer__image {
  height: 28px;
}

/* MAIN SECTION */
.destination-card {
  width: 100%;
  height: 71vh;
  position: relative;
}
.destination-card--hawaii {
  background: url(../assets/images/hawaii.jpg);
  background-position: center;
  background-size: cover;
  /* background-size: ; */
}
.destination-card--iceland {
  background: url(../assets/images/iceland.jpg);
  background-position: center;
  background-size: cover;
}
.destination-card--greece {
  background: url(../assets/images/greece.jpg);
  background-position: center;
  background-size: cover;
}
.destination-card__heading {
  color: var(--color-background-secondary);
  font-size: 6.2rem;
  position: absolute;
  /* top: 20px; */
  top: 53px;
  /* left: 80px; */
  left: 85px;
  margin-top: 0;
}
.destination-card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.destination-card__itinerary-container {
  background-color: var(--color-background-secondary);
  width: 19vw;
  height: 36vh;
  margin: 2rem;
  border-radius: 5px;
}
.destination-card__itinerary {
  list-style: none;
  padding: 0;
}

.destination-card__item {
  background-color: var(--color-background-primary);
  margin: 20px;
  padding: 10px 0;
}

.destination-card__item--title {
  background-color: var(--color-background-secondary);
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
